#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

button{
	width: 100% !important;
}

.btn-action {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

.num {
	margin-bottom: 20px;
}

.gap-2{
	display: flex;
	gap: 10px;
}